@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
}

body {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.safe-p-top {
  padding-top: var(--ion-safe-area-top);
}

.safe-p-bottom {
  padding-bottom: var(--ion-safe-area-bottom);
}

/* Smooth Scrolling for iOS */
.overflow-y-scroll {
  -webkit-overflow-scrolling: touch;
}